RewriteEngine On

RewriteRule ^gift-your-ads/(.+)/(.+)?$ /gift-your-ads-page.php [L]

RewriteRule ^gift-your-ads/(.+)/?$ /gift-your-ads.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]